:root {
    --color-primary: #132821;
    --color-accent: #216d6d;
    --color-dark-green: #204b5c;
    --color-medium-green: #3287bc;
    --color-light-green: #e2f0e7;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--color-light-green);
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

img{
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.container{
    background-image: url(/assets/background-photo.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 10px 0;
}
nav h1{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

nav ul li a{
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
nav ul li a:hover{
    color: var(--color-medium-green);
}
nav ul li a::before{
    content: "";
    background: var(--color-medium-green);
    width: 50%;
    height: 3px;
    position: absolute;
    top: 22px;
    left: -50%;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}


nav ul li a:hover::before{
    left: 0;
}

@media screen and (max-width: 995px) {
    img{
        display: block;
    }
    nav{
        width: 90%;
    }
    nav ul{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        right: -100%;
        top: 0;
        width: 50%;
        background: #27658291;
        backdrop-filter: blur(16px);
        height: 100%;
        padding: 10rem 0 0 4rem;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
}
    nav.active ul{
        right: 0;
    }
    img.close{
        position: absolute;
        top: 0.8rem;
        right: 3rem;
    }
    nav ul li a:hover{
        color: var(--color-dark-green);
    }
    nav ul li a::before{
        background: var(--color-dark-green);
    }
}
@media screen and (max-width: 428px) {
    img.close{
        right: 1.5rem;
    }
    nav ul{
        width: 70%;
        padding: 5rem 0 0 2rem;
    }
}